<?xml version="1.0"?>

<!-- Launch connection with Vicon. -->
<launch>
	<node pkg="vicon_bridge" type="vicon_bridge" name="vicon" output="screen">
		<param name="stream_mode" value="ClientPull" type="str" />
		<param name="datastream_hostport" value="192.168.2.120:801" type="str" />
    <param name="tf_ref_frame_id" value="/odom" type="str" />
  </node>

  <!-- Republish Vicon /ridgeback/cmd_vel to /ridgeback_velocity_controller/cmd_vel -->
  <node name="ridgeback_velocity_relay" pkg="topic_tools" type="relay" respawn="true" args="ridgeback/cmd_vel ridgeback_velocity_controller/cmd_vel" output="screen" />

  <!-- Estimation of Ridgeback joint state from Vicon messages. -->
  <node pkg="mobile_manipulation_central" type="ridgeback_vicon_estimator_node" name="ridgeback_vicon_estimator_node" required="true" output="screen" />
</launch>
