<?xml version="1.0"?>

<!-- Launch the Ridgeback, UR10, and gripper. F/T sensor is not launched here because thus far it appears to only work on-board. -->
<launch>
  <include file="$(find mobile_manipulation_central)/launch/ridgeback_vicon.launch" />
  <include file="$(find mobile_manipulation_central)/launch/ur10.launch" />
  <include file="$(find mobile_manipulation_central)/launch/gripper.launch" />
</launch>
