<?xml version="1.0"?>

<!-- Launch connection with Vicon. -->
<launch>
  <arg name="barrel_vicon_model" value="ThingBarrel/ThingBarrel" />
  <arg name="base_vicon_model" value="ThingBase_4/ThingBase_4" />
  <arg name="tray_vicon_model" value="ThingWoodTray/ThingWoodTray" />

	<node pkg="vicon_bridge" type="vicon_bridge" name="vicon" required="true" output="screen">
		<param name="stream_mode" value="ClientPull" type="str" />
		<param name="datastream_hostport" value="192.168.2.119:801" type="str" />
    <param name="tf_ref_frame_id" value="/odom" type="str" />

    <!-- The convention is {calibrated pose} = {original pose} - {zero pose} -->
    <!-- The idea is that if I put the model at what I want to be the zero pose and record that, the result is that {calibrated pose} is zeroed -->
    <!-- <param name="$(arg base_vicon_model)/zero_pose/position/x" value="0.00333024" type="double" /> -->
    <!-- <param name="$(arg base_vicon_model)/zero_pose/position/y" value="0.00402133" type="double" /> -->
    <!-- <param name="$(arg base_vicon_model)/zero_pose/position/z"    value="0" type="double" /> -->
    <!-- <param name="$(arg base_vicon_model)/zero_pose/orientation/x" value="0" type="double" /> -->
    <!-- <param name="$(arg base_vicon_model)/zero_pose/orientation/y" value="0" type="double" /> -->
    <!-- <param name="$(arg base_vicon_model)/zero_pose/orientation/z" value="-0.00792683" type="double" /> -->
    <!-- <param name="$(arg base_vicon_model)/zero_pose/orientation/w" value="0.99996858" type="double" /> -->

    <param name="$(arg base_vicon_model)/zero_pose/position/x" value="0.00132992" type="double" />
    <param name="$(arg base_vicon_model)/zero_pose/position/y" value="0.0076909" type="double" />
    <param name="$(arg base_vicon_model)/zero_pose/position/z"    value="0" type="double" />
    <param name="$(arg base_vicon_model)/zero_pose/orientation/x" value="0" type="double" />
    <param name="$(arg base_vicon_model)/zero_pose/orientation/y" value="0" type="double" />
    <param name="$(arg base_vicon_model)/zero_pose/orientation/z" value="-0.00538166" type="double" />
    <param name="$(arg base_vicon_model)/zero_pose/orientation/w" value="0.99998552" type="double" />

  <param name="$(arg barrel_vicon_model)/zero_pose/position/x" value="-0.010235" type="double" />
  <param name="$(arg barrel_vicon_model)/zero_pose/position/y" value="0.004047" type="double" />
  <param name="$(arg barrel_vicon_model)/zero_pose/position/z" value="0" type="double" />
  <param name="$(arg barrel_vicon_model)/zero_pose/orientation/x" value="0" type="double" />
  <param name="$(arg barrel_vicon_model)/zero_pose/orientation/y" value="0" type="double" />
  <param name="$(arg barrel_vicon_model)/zero_pose/orientation/z" value="0" type="double" />
  <param name="$(arg barrel_vicon_model)/zero_pose/orientation/w" value="1" type="double" />

  <param name="$(arg tray_vicon_model)/zero_pose/position/x" value="0" type="double" />
  <param name="$(arg tray_vicon_model)/zero_pose/position/y" value="0" type="double" />
  <param name="$(arg tray_vicon_model)/zero_pose/position/z" value="0" type="double" />
  <param name="$(arg tray_vicon_model)/zero_pose/orientation/x" value="-0.008453626867673262" type="double" />
  <param name="$(arg tray_vicon_model)/zero_pose/orientation/y" value="0.0018895219278905362" type="double" />
  <param name="$(arg tray_vicon_model)/zero_pose/orientation/z" value="-0.024888187147747348" type="double" />
  <param name="$(arg tray_vicon_model)/zero_pose/orientation/w" value="0.9996527117155062" type="double" />

  </node>
</launch>
